$color-three: #ebb240;

$color-four: #fb2f2f;

$color-text-two: #333;

main {
  .grid-item--width-one {
    width: 30%;
    height: 502px;
  }
  .grid-item--width-two {
    width: 40%;
    height: 502px;
  }
  .grid-item--width-three {
    width: 30%;
    height: 251px;
  }
  .grid-item--width-four {
    width: 30%;
    height: 465px;
  }
  .grid-item--width-five {
    width: 20%;
    height: 465px;
  }
  .grid-item--width-six {
    width: 50%;
    height: 465px;
  }
  .grid-item--width-seven {
    width: 50%;
    height: 300px;
  }
  .grid-item--width-eight {
    width: 30%;
    height: 251px;
  }
  .grid-item--width-nine {
    width: 20%;
    height: 300px;
  }
  .grid-item--width-ten {
    width: 30%;
    background: $color-three;
    height: 300px;
  }
}

%text-main {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

.main__block-one {
  & {
    background: $color-three;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .main__items {
    & {
      padding: 120px 200px 0 0;
    }
    li {
      & {
        font-size: 14px;
      }
      a {
        & {
          @extend %text-main;
          font-size: 13px;
          transition: .3s;
        }
        i {
          font-size: 14px;
          padding-right: 5px;
          color: transparent;
        }
        &:hover {
          color: black;
          > i {
            color: white;
          }
        }
      }
    }
  }
  p {
    & {
      @extend %text-main;
      font-size: 48px;
      padding: 108px 50px 0 0;
    }
    &:before {
      content: '';
      position: absolute;
      height: 142%;
      border-left: 1px solid #fff;
      top: -105px;
      left: 299px;
      transform: rotate(45deg);
    }
  }
}

.main__block-two,
.main__block-three,
.main__block-four,
.main__block-five,
.main__block-six,
.main__block-seven,
.main__block-eight,
.main__block-nine {
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__block-img {
  & {
    text-transform: uppercase;
  }
  .main__block-description {
    p {
      font-size: 24px;
      font-weight: 300;
    }
    b {
      font-size: 12px;
      font-weight: 700;
    }
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
  > a {
    & {
      font-size: 18px;
      font-weight: 300;
    }
    i {
      color: $color-three;
      padding-right: 5px;
    }
  }
  .main__block-like {
    a {
      font-size: 24px;
    }
  }
}

