@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700&display=swap');

$color-one: #7acec3;

$color-two: #e9eae2;

$text-color: #393d3c;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 340px;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, button {
  border: none;
  outline: none;
}

.grid {
  width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 5%;
}

.grid-item {
  float: left;
}

header {
  .grid-item--width-seventy {
    width: 70%;
  }
  .grid-item--width-thirty {
    width: 30%;
  }
}

.header__block-one {
  & {
    background: $color-two;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 50px 130px 2px 0;
  }
  .header__logo {
    & {
      padding-right: 140px;
    }
    > a {
      & {
        display: block;
        transition: all .5s ease 0ms;
      }
      &:hover {
        transform: rotateX(0deg) rotateY(360deg) ;
        transition: transform .5s ease 0ms;
      }
    }
    p {
      color: $text-color;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .header__social {
      & {
        padding: 57px 0 0 15px;
      }
      a {
        & {
          display: inline-block;
          font-size: 26px;
          color: $color-one;
          padding-left: 10px;
          transition: .3s;
        }
        &:hover {
          transform: translate(0, -5px);
          color: #54a69b;
        }
      }
      a:first-child {
        padding: 0;
        font-size: 24px;
      }
    }
  }
  .header__img {
    filter: brightness(91%);
  }
}

%text-header {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

.header__block-two {
  & {
    background: $color-one;
    padding: 50px 0 95px 60px;
  }
  .nav__menu-hamburger {
    & {
      display: flex;
      position: relative;
      padding-left: 90px;
    }
    .nav__button-hamburger {
      & {
        border: 3px solid white;
        padding: 38px;
        cursor: pointer;
      }
      .hamburger {
        padding: 1px 8px;
      }
      i {
        font-size: 36px;
        color: white;
      }
      .cross {
        display: none;
        font-size: 38px;
        padding: 2px 10px 2px 11px;
      }
    }
    .nav__menu-hamburger_list {
      & {
        display: none;
        position: absolute;
        top: 0;
        left: -419px;
        padding: 52px 10px 52px 52px;
        background: #f8c255;
        z-index: 1;
      }
      li {
        & {
          display: inline-block;
          padding-left: 52px;
        }
        &:first-child {
          padding: 0;
        }
        a {
          & {
            @extend %text-header;
            font-size: 14px;
            display: inline-block;
          }
          &:after {
            background-color: #fff;
            display: block;
            content: "";
            height: 1px;
            width: 0;
            -webkit-transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
          }
          &:hover:after,
          &:focus:after {
            width: 100%;
          }
        }
      }
    }
  }
  p {
    @extend %text-header;
    font-size: 13px;
    line-height: 14px;
    padding-top: 91px;
  }
  .header__contact {
    & {
      padding: 46px 0 0 80px;
    }
    a {
      & {
        @extend %text-header;
        font-size: 13px;
        line-height: 14px;
        display: block;
        transition: .3s;
      }
      &:hover {
        opacity: .8;
      }
      &:first-child:before {
        content: '';
        position: absolute;
        height: 143%;
        border-left: 1px solid #fff;
        top: -104px;
        left: 246px;
        transform: rotate(45deg);
      }
    }
  }
}

.header__block-two {
  .nav__menu-hamburger {
    .active {
      & {
        transition: .3s;
        border: 3px solid #f8c255;
        background: #f8c255;
      }
    }
  }
}
