@media screen and (max-width: 1387px) {
  .header__block-one {
    & {
      padding-right: 50px;
    }
    .header__logo {
      padding-right: 60px;
    }
  }
}

@media screen and (max-width: 1158px) {
  .header__block-one {
    & {
      padding-right: 0;
    }
    .header__logo {
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 1029px) {
  header {
    .grid-item--width-seventy {
      width: 100%;
    }

    .grid-item--width-thirty {
      width: 100%;
    }
  }
  .header__block-one {
    & {
      justify-content: center;
    }

    .header__logo {
      padding-right: 60px;
    }
  }
  .header__block-two {
    .nav__menu-hamburger {
      .nav__menu-hamburger_list {
        & {
          width: 129px;
          top: 119px;
          left: 90px;
          padding: 0 0 35px 25px;
        }
        li {
          & {
            display: block;
            padding: 30px 0 0 0;
          }
          a {
            display: block;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  .header__block-one {
    .header__logo {
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 720px) {
  .header__block-one {
    .header__logo {
      padding-right: 0;
    }
    .header__img {
      width: 100%;
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 575px) {

}