@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700&display=swap");
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 340px;
  position: relative;
  min-height: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

input, button {
  border: none;
  outline: none; }

.grid {
  width: 100%; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer,
.grid-item {
  width: 5%; }

.grid-item {
  float: left; }

header .grid-item--width-seventy {
  width: 70%; }

header .grid-item--width-thirty {
  width: 30%; }

.header__block-one {
  background: #e9eae2;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 50px 130px 2px 0; }

.header__block-one .header__logo {
  padding-right: 140px; }

.header__block-one .header__logo > a {
  display: block;
  transition: all .5s ease 0ms; }

.header__block-one .header__logo > a:hover {
  transform: rotateX(0deg) rotateY(360deg);
  transition: transform .5s ease 0ms; }

.header__block-one .header__logo p {
  color: #393d3c;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.header__block-one .header__logo .header__social {
  padding: 57px 0 0 15px; }

.header__block-one .header__logo .header__social a {
  display: inline-block;
  font-size: 26px;
  color: #7acec3;
  padding-left: 10px;
  transition: .3s; }

.header__block-one .header__logo .header__social a:hover {
  transform: translate(0, -5px);
  color: #54a69b; }

.header__block-one .header__logo .header__social a:first-child {
  padding: 0;
  font-size: 24px; }

.header__block-one .header__img {
  filter: brightness(91%); }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li a, .header__block-two p, .header__block-two .header__contact a {
  font-weight: 400;
  color: white;
  text-transform: uppercase; }

.header__block-two {
  background: #7acec3;
  padding: 50px 0 95px 60px; }

.header__block-two .nav__menu-hamburger {
  display: flex;
  position: relative;
  padding-left: 90px; }

.header__block-two .nav__menu-hamburger .nav__button-hamburger {
  border: 3px solid white;
  padding: 38px;
  cursor: pointer; }

.header__block-two .nav__menu-hamburger .nav__button-hamburger .hamburger {
  padding: 1px 8px; }

.header__block-two .nav__menu-hamburger .nav__button-hamburger i {
  font-size: 36px;
  color: white; }

.header__block-two .nav__menu-hamburger .nav__button-hamburger .cross {
  display: none;
  font-size: 38px;
  padding: 2px 10px 2px 11px; }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list {
  display: none;
  position: absolute;
  top: 0;
  left: -419px;
  padding: 52px 10px 52px 52px;
  background: #f8c255;
  z-index: 1; }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li {
  display: inline-block;
  padding-left: 52px; }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li:first-child {
  padding: 0; }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li a {
  font-size: 14px;
  display: inline-block; }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li a:after {
  background-color: #fff;
  display: block;
  content: "";
  height: 1px;
  width: 0;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out; }

.header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li a:hover:after, .header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li a:focus:after {
  width: 100%; }

.header__block-two p {
  font-size: 13px;
  line-height: 14px;
  padding-top: 91px; }

.header__block-two .header__contact {
  padding: 46px 0 0 80px; }

.header__block-two .header__contact a {
  font-size: 13px;
  line-height: 14px;
  display: block;
  transition: .3s; }

.header__block-two .header__contact a:hover {
  opacity: .8; }

.header__block-two .header__contact a:first-child:before {
  content: '';
  position: absolute;
  height: 143%;
  border-left: 1px solid #fff;
  top: -104px;
  left: 246px;
  transform: rotate(45deg); }

.header__block-two .nav__menu-hamburger .active {
  transition: .3s;
  border: 3px solid #f8c255;
  background: #f8c255; }

main .grid-item--width-one {
  width: 30%;
  height: 502px; }

main .grid-item--width-two {
  width: 40%;
  height: 502px; }

main .grid-item--width-three {
  width: 30%;
  height: 251px; }

main .grid-item--width-four {
  width: 30%;
  height: 465px; }

main .grid-item--width-five {
  width: 20%;
  height: 465px; }

main .grid-item--width-six {
  width: 50%;
  height: 465px; }

main .grid-item--width-seven {
  width: 50%;
  height: 300px; }

main .grid-item--width-eight {
  width: 30%;
  height: 251px; }

main .grid-item--width-nine {
  width: 20%;
  height: 300px; }

main .grid-item--width-ten {
  width: 30%;
  background: #ebb240;
  height: 300px; }

.main__block-one .main__items li a, .main__block-one p {
  font-weight: 400;
  color: white;
  text-transform: uppercase; }

.main__block-one {
  background: #ebb240;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.main__block-one .main__items {
  padding: 120px 200px 0 0; }

.main__block-one .main__items li {
  font-size: 14px; }

.main__block-one .main__items li a {
  font-size: 13px;
  transition: .3s; }

.main__block-one .main__items li a i {
  font-size: 14px;
  padding-right: 5px;
  color: transparent; }

.main__block-one .main__items li a:hover {
  color: black; }
  .main__block-one .main__items li a:hover > i {
    color: white; }

.main__block-one p {
  font-size: 48px;
  padding: 108px 50px 0 0; }

.main__block-one p:before {
  content: '';
  position: absolute;
  height: 142%;
  border-left: 1px solid #fff;
  top: -105px;
  left: 299px;
  transform: rotate(45deg); }

.main__block-two,
.main__block-three,
.main__block-four,
.main__block-five,
.main__block-six,
.main__block-seven,
.main__block-eight,
.main__block-nine {
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.main__block-img {
  text-transform: uppercase; }

.main__block-img .main__block-description p {
  font-size: 24px;
  font-weight: 300; }

.main__block-img .main__block-description b {
  font-size: 12px;
  font-weight: 700; }

.main__block-img .main__block-description span {
  font-size: 12px;
  font-weight: 300; }

.main__block-img > a {
  font-size: 18px;
  font-weight: 300; }

.main__block-img > a i {
  color: #ebb240;
  padding-right: 5px; }

.main__block-img .main__block-like a {
  font-size: 24px; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 100%; }

@media screen and (max-width: 1387px) {
  .header__block-one {
    padding-right: 50px; }
  .header__block-one .header__logo {
    padding-right: 60px; } }

@media screen and (max-width: 1158px) {
  .header__block-one {
    padding-right: 0; }
  .header__block-one .header__logo {
    padding-right: 20px; } }

@media screen and (max-width: 1029px) {
  header .grid-item--width-seventy {
    width: 100%; }
  header .grid-item--width-thirty {
    width: 100%; }
  .header__block-one {
    justify-content: center; }
  .header__block-one .header__logo {
    padding-right: 60px; }
  .header__block-two .nav__menu-hamburger .nav__menu-hamburger_list {
    width: 129px;
    top: 119px;
    left: 90px;
    padding: 0 0 35px 25px; }
  .header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li {
    display: block;
    padding: 30px 0 0 0; }
  .header__block-two .nav__menu-hamburger .nav__menu-hamburger_list li a {
    display: block;
    overflow: hidden; } }

@media screen and (max-width: 767px) {
  .header__block-one .header__logo {
    padding-right: 20px; } }

@media screen and (max-width: 720px) {
  .header__block-one .header__logo {
    padding-right: 0; }
  .header__block-one .header__img {
    width: 100%;
    padding-top: 20px; } }
